body{
    background-color: rgba(254, 250, 250, 0.838);
    color: black;
}
.search-bar {
    position: relative;
}

.search-icon,
 .btn-outline-success{
    position: absolute;
    top: 50%;
    transform: translate(650%,-50%);
    cursor: pointer;
    border: none;
}
.search-icon,
 .btn-outline-secondary{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    cursor: pointer;
    border: none;
}

.form-control{
    padding: 8%;    
    padding-right: 100px; /* Adjust this value to leave space for the icons */
}
.form-inline{
    padding-right: 7px;
}
.cart-icon{
    padding-right: 25px;
    padding-left: 10px;
}
.btn-outline-primary{
    margin-right: 30px;
}
#items{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    box-shadow: cornflowerblue;
    margin-right:10px;
}
#items:hover {
    box-shadow: 1px 1px 5px 5px lightblue;
  }


/*------------------------------------------------------------------------------------------------------------------------------------ */
/* Toolbar css */

.toolbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(60, 20%, 3%);
    padding:5px;
    color: rgb(252, 248, 248);
}

.toolbar-item {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    gap:7px;
    cursor: pointer;
    text-align: left;

}

.toolbar-item img {
    width: 50px;
    height: 50px;
    margin-left: 6px;
    border-radius: 4px;
}

.toolbar-submenu {
    display: none;
    position: absolute;
    background-color: #f8f4f4;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.submenu-item {
    cursor: pointer;
    margin-top: 5px;
}


/*------------------------------------------------------------------------------------------------------------------------------------ */
/* Slideshow css */

.carousel-inner{
    height:550px;
    width: 750px;
    margin-top: 10px;
    margin-left: 25%;
}
.slides{
    background-color:rgb(252, 248, 248);
}
.carousel{
    padding-top: 20px;
    padding-bottom: 40px;
}
.carousel-control-prev-icon{
    background-color:black;
}
.carousel-control-next-icon{
    background-color:black;
}