body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
#best-selling-courses{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:300px;
}
h1{
    text-align: center;
}
.content h5{
    color:purple;
    height:200px;
}
/* h1::before{
    content: "";
    position: absolute;
    left: 630px;
    top: 50px;
    bottom: 0;
    height: 3px;
    width: 250px;
    border-radius: 5px;
    background: black;
  } */

.content p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.content{
    margin: 20px;
    border-radius: 20px;
    border: 3px solid grey;
    box-shadow: 3px 3px 5px grey;
    background: white;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content:hover{
    transform: scale(1.07);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content{
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content{
        width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content{
        width: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content{
        width: 20%;
    }
}